body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  color: #333;
}

p > i {
  margin-right:0.5em;
  width:1.2em;
}

table {
  border-collapse: collapse;
}

th {
  border-bottom:3px solid #90caf9;
  padding:0.5em 1.5em;
}

td {
  border-bottom:1px solid #90caf9;
  padding:0.5em 1.5em;
  
}

.table-container {
  overflow-x:auto;
  max-width: 75vw;
}

.label {
  padding: 1em 0 0.3em;
  font-size: 0.85em;
}

.hidden {
  display: none;
}

.card {
  background-color: #eee;
  border-radius: 1.5em;
  padding: 1.5em;
  box-shadow: none;
}

.card--invert {
  background-color: #fff;
  box-shadow:0 1px 6px #ccc;
}

.input-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.input {
  border: none;
  border-radius: 1em;
  width: calc(100% - 1em);
  padding: 0.5em;
  font-size: 1.01em;
}

.input--search {
  width: 100%;
}

::placeholder {
  color: #ccc;
}

.btn {
  border: 1px solid #ccc;
  border-radius: 2em;
  padding: 1em;
  box-shadow: none;
  font-size: 1.01em;
  margin: 1em 0;
  transition:all 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #eee;
  transition:all 0.3s ease-in-out;
}

.btn:disabled,
.btn:disabled:hover {
  cursor: not-allowed;
  background-color: #eee;
  color: #333;
  transition:all 0.3s ease-in-out;
}

.btn--success {
  background-color: #00796b;
  color: #fff;
  transition:all 0.3s ease-in-out;
}

.btn--success:hover {
  background-color: #004d40;
  color: #fff;
  transition:all 0.3s ease-in-out;
}

.btn--action {
  background-color: #e64a19;
  color: #fff;
  transition:all 0.3s ease-in-out;
}

.btn--action:hover {
  background-color: #d84315;
  color: #fff;
  transition:all 0.3s ease-in-out;
}

.notification {
  padding: 1em 2em;
  background-color: #ccc;
  border: none;
  border-radius: 0.5em;
  position: relative;
}

.notification .fa-times {
  position: absolute;
  right: 20px;
  top: 20px;
}

.notification .fa-times:hover {
  cursor: pointer;
  color: #f44336;
  transition:all 0.3s ease-in-out;
}

.notification--danger {
  background-color: #d50000;
  color: #fff;
}

.notification--success {
  background-color: #00796b;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #00796b;
}

input:focus+.slider {
  box-shadow: 0 0 1px #00796b;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}